/* BarChart.css */
.bar-chart-container {
    width: 100%;
    height: 25vh;
    float: left;
    background-color: #1a1a1a; /* dark gray */
    color: #f0f0f0; /* light gray */
  }
  
  .chart-title {
    text-align: center;
    color: #f0f0f0; /* light gray */
  }
  
  /* Loading container */
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Loading text */
  .loading-text {
    font-size: 20px;
    color: #f0f0f0; /* light gray */
  }
  