.table {
  width: 100%;
  border-collapse: collapse;
  color: #f5f5f5; /* Text color */
  background-color: #202020; /* Background color */
}

.table th,
.table td {
  padding: 8px;
  border: none; /* Removed the border */
  text-align: left;
}

.table th {
  background-color: #333333; /* Darker background for header row */
  font-weight: bold;
}

.green-triangle {
  color: #77dd77; /* Green color for positive values, you can adjust as needed */
}

.red-triangle {
  color: #FF0000; /* Red color for negative values, you can adjust as needed */
  transform: rotate(180deg);
}

.green-percentage {
    color: #00FF00; /* Brighter green */
    font-weight: bold; /* Bold text */
}

.red-percentage {
  color: #FF0000; /* Red color for negative values, you can adjust as needed */
}

.green-text {
  color: #00FF00; /* Brighter green */
  font-weight: bold; /* Bold text */
}

.red-text {
  color: #FF0000; /* Red color for negative values, you can adjust as needed */
}

.loading-spinner {
  justify-content: center;
}

.spinner {
  width: 20px;
  height: 20px;
  margin: 0 2px; /* Adjust the margin as needed */
  border: 3px solid #ccc; /* Spinner color */
  border-top-color: #333; /* Top spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background-color: #202020; /* Background color */
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
