.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #141519;
  padding: 16px;
  border-bottom: 1px solid white;
  overflow: auto; /* Add this line to enable horizontal scrolling */
  color: white; /* Change text color to white */
}

.header-left {
  display: flex;
  align-items: center;
  flex: 2;
  overflow: hidden; /* Add this line to prevent the left side from overflowing */
}

.logo-image {
  width: 100px;
  height: 100px;
  margin-right: 8px;
  flex-shrink: 0; /* Add this line to prevent the logo from shrinking */
}

.title-container {
  display: flex;
  align-items: center;
}

.icon {
  /* Icon styles */
  /* Update the icon color if it's an SVG or using a font icon */
  fill: white; /* SVG color */
  color: white; /* Font icon color */
}

.title {
  margin-left: 8px;
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  flex: 1;
  overflow: auto; /* Add this line to enable horizontal scrolling */
}
